---
---
@import "tailwindcss/base";
@import "tailwindcss/components";

/* TODO: Refactor these classes out */
.flip-card-inner {
    transition-delay: 2s;
    transition-property: transform;
    transition-duration: 1.5s;
    transform-style: preserve-3d;
}

.flip-card .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}
/* End refactor */

.flip-y {
    transform: scale(1, -1);
}

.flip-x {
    transform: scale(-1, 1);
}

.preload {
    transition: none !important;
}

@tailwind utilities;
