---
layout: default
---
{% assign author = site.authors | where: 'short_name', page.author | first %}

<article>
    <header class="relative">
        <img class="w-full bg-gray-400" style="min-height: 8rem;" />
        <div class="absolute w-full top-0">
            <h1 class="text-3xl text-black font-thin tracking-tight bg-white rounded shadow mt-6 mx-8 px-4 opacity-75">
                {{ page.title }}
            </h1>
        </div>
    </header>

    <div class="mt-4 px-4 leading-relaxed pb-4">
        {{ content }}
    </div>

    <footer class="mx-3 pt-4 pb-2">
        <p class="text-xs uppercase tracking-wide text-gray-500">
            Posted {{ page.date | date_to_string }} by <a href="{{ author.url }}" class="text-gray-700">{{ author.short_name }}</a>
        </p>
    </footer>
</article>
